<h1>LOGIN</h1>

<%= form_with(scope: :session,url: login_path, local: true) do |form| %>

  <div>
    <p><%= form.label :email%></p>
    <p><%= form.email_field :email%></p>
  </div>
  <div>
    <p><%= form.label :password%></p>
    <p><%= form.password_field :password%></p>
  </div>
  <div>
    <%= form.submit 'Login' %>
  </div>
<% end %>
