

<%= form_with(model: @user, html: {class: "ui form"}, local: true) do |form| %>
  <div class="field">
    <%= form.label :username, "Username"%>
    <%= form.text_field :username, placeholder: "Username", class: "border border-success"%>
  </div>
  <div class="field">
    <%= form.label :email, "Email"%>
    <%= form.email_field :email, placeholder: "Email", class: "border border-success"%>

  </div>
  <div class="field">
    <%= form.label :password, "Password"%>
    <%= form.password_field :password, placeholder: "Password", class: "border border-success"%>
  </div>
  <%= form.submit @user.new_record? ? 'SIGN UP' : 'UPDATE', class: "ui button green"%>
<% end %>
