<%= form_with(model: @property, local: true) do |form| %>
  <div>
   <%= form.label :PropertyType %><br>
   <%= form.select :PropertyType, [ 'Apartment', 'Office', 'Hotel', 'Plot', 'Bungalow', 'House' ], :prompt => 'Select One' %>
  </div>
  <div>
   <%= form.label :property_status %><br>
   <%= form.select :property_status, [ 'Rental', 'Sold', 'Sale' ], :prompt => 'Select One' %>
  </div>
  <div>
   <%= form.label :address %><br>
   <%= form.text_field :address %>
  </div>
  <div>
   <%= form.label :city %><br>
   <%= form.text_field :city %>
  </div>
  <div>
   <%= form.label :Price %><br>
   <%= form.text_field :Price %>
  </div>
  <div>
   <%= form.label :Area %><br>
   <%= form.text_field :Area %>
  </div>
  <div>
   <%= form.label :OwnerName %><br>
   <%= form.text_field :OwnerName %>
  </div>
  <div>
   <%= form.label :ContactPerson %><br>
   <%= form.text_field :ContactPerson %>
  </div>
  <div>
   <%= form.label :Number %><br>
   <%= form.text_field :Number %>
  </div>
  <% if current_page?(controller: 'properties', action: 'edit', id: current_user.id) %>
    <% if @property.property_image.attached? %>
      <%= image_tag(@property.property_image, width: 400, height: 400)%>
    <% end %>
  <% end %>
  <br/>
  <br/>
  <div>
   <%= form.label :property_image %><br>
   <%= form.file_field :property_image %>
  </div>
  <div>
    <%= form.submit @property.new_record? ? 'SAVE' : 'UPDATE'%>
  </div>
<% end %>
