<h1>CREATE</h1>
<%= form_with(model: @property, local: true) do |form| %>
  <div>
   <%= form.label :PropertyType %><br>
   <%= form.text_field :PropertyType %>
  </div>
  <div>
   <%= form.label :Location %><br>
   <%= form.text_field :Location %>
  </div>
  <div>
   <%= form.label :Price %><br>
   <%= form.text_field :Price %>
  </div>
  <div>
   <%= form.label :Area %><br>
   <%= form.text_field :Area %>
  </div>
  <div>
   <%= form.label :OwnerName %><br>
   <%= form.text_field :OwnerName %>
  </div>
  <div>
   <%= form.label :ContactPerson %><br>
   <%= form.text_field :ContactPerson %>
  </div>
  <div>
   <%= form.label :Number %><br>
   <%= form.text_field :Number %>
  </div>
  <div>
    <%= form.submit%>
  </div>
<% end %>
