<h1>SHOW</h1>

<% if @property.property_image.attached? %>
  <%= image_tag(@property.property_image, width: 400, height: 400)%>
<% end %>
<table>
  <thead>
    <th>Property Type</th>
    <th>Property Status</th>
    <th>Address</th>
    <th>City</th>
    <th>Price</th>
    <th>Area</th>
    <th>Owner Name</th>
    <th>Contact person</th>
    <th>Number</th>
    <th>Links</th>
  </thead>

  <tbody>
    <tr>
      <td><%= @property.PropertyType %></td>
      <td><%= @property.property_status %></td>
      <td><%= @property.address %></td>
      <td><%= @property.city %></td>
      <td><%= @property.Price %></td>
      <td><%= @property.Area %></td>
      <td><%= @property.OwnerName %></td>
      <td><%= @property.ContactPerson %></td>
      <td><%= @property.Number %></td>
      <td><%= link_to 'Edit',edit_property_path(@property) %></td>
    </tr>
  </tbody>
</table>
