
<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="4000">
      <%= image_tag("carousel_image_1.jpg",height: "400px", class: "d-block w-100")%>
    </div>
    <div class="carousel-item" data-interval="4000">
      <%= image_tag("carousel_image_2.jpg",height: "400px", class: "d-block w-100")%>
    </div>
    <div class="carousel-item" data-interval="4000">
      <%= image_tag("carousel_image_3.jpg",height: "400px", class: "d-block w-100")%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<h1 class="text-center">Hand Picked Projects For You</h1>

<div class="ui divided items">
<% @property_first.each do |property| %>
  <div class="item">
    <div class="image">
      <% if property.property_image.attached? %>
        <%= image_tag(property.property_image)%>
      <% end %>
    </div>
    <div class="content">
      <%= link_to property.PropertyType, property, class: "header" %>
      <div class="meta">
        <span class="home">By <%= property.OwnerName %></span><br/>
        <span class="home">Posted <%= time_ago_in_words(property.created_at) %></span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        <div class="ui label"><i class="home icon"></i><%= property.property_status%></div>
        <span class="home text-dark"><i class="rupee sign icon green"></i><%= property.Price%></span>
        <div class="ui right floated primary button">
          <%= link_to "Show Details", property ,class: "text-white"%>
          <i class="right chevron icon"></i>
        </div>
      </div>
    </div>
  </div>
<% end %>
<h1 class="text-center">Recently Added Products</h1>

<div class="ui divided items">
<% @property_last.each do |property| %>
  <div class="item">
    <div class="image">
      <% if property.property_image.attached? %>
        <%= image_tag(property.property_image)%>
      <% end %>
    </div>
    <div class="content">
      <%= link_to property.PropertyType, property, class: "header" %>
      <div class="meta">
        <span class="home">By <%= property.OwnerName %></span><br/>
        <span class="home">Posted <%= time_ago_in_words(property.created_at) %></span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        <div class="ui label"><i class="home icon"></i><%= property.property_status%></div>
        <span class="home text-dark"><i class="rupee sign icon green"></i><%= property.Price%></span>
        <div class="ui right floated primary button">
          <%= link_to "Show Details", property ,class: "text-white"%>
          <i class="right chevron icon"></i>
        </div>
      </div>
    </div>
  </div>
<% end %>
